<a href="https://colab.research.google.com/github/Ezra-254/SQL-Query-/blob/main/Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variables in Python
## Data structure used to store information.
### Example below

In [1]:
a = 4
## 'a' is a variable and it stores value 4. Everytime you call 'a' it will return its value. Let us look at that.MB

In [2]:
a

4

## You see we just called value a and we got that 4 is printed out.

In [4]:
a = 5
a

5

#in the above exampe, we have have seen that upon calling 'a' we get value 5. This shows that a variable can only store one value.

# Naming of Variables

## Case sensitive.

In [7]:
a = 90

In [9]:
a

90

In [13]:
A = 100

In [15]:
A

100

## Variable should start with a letter

In [17]:
a1 = 2

In [19]:
a1

2

In [21]:
1a = 2

SyntaxError: invalid decimal literal (<ipython-input-21-971ad3f6197a>, line 1)

# Do not use special characters only underscore

In [23]:
@ = 2

SyntaxError: invalid syntax (<ipython-input-23-f1229b1ebcc3>, line 1)

In [26]:
_ = 45

In [27]:
_

45

Print function

In [29]:
a = 9
b = 45
a
b

45

In [31]:
print(a)
print(b)

9
45

In [33]:
print(a,b)

9 45

In [35]:
a, b=3,4

In [36]:
print(a,b)

3 4